{% extends "templates/base.html" %}

{% block borderRadius %}
	--border-radius: .6rem;
{% endblock %}

{% block content22CSS %}
	border: 1px solid black;
{% endblock %}
	
{% block centerSize %}
	--height-center: 50vh;
	--width-center: 50vw;
{% endblock %}

{% block titleCSS %}
.title {
	line-height: 1.2rem;
	text-align: center;
	font-size: 1rem;
	border: 2px solid black;
  	border-radius: .6rem;
  	position: relative;
  	top:-2px;
  	left:-2px;
  	width: calc(100% + 0px);
  	background: red;
}
{% endblock %}

{% block content22 %}
	{% for i in range(0,npieces)  %}
	<div id="video{{ i+1 }}">
		<img src="{{ image.name }}">
		<!--<iframe style="pointer-events: none; overflow: hidden;" src="" width="500" height="400"></iframe>-->
		<!--<video style="pointer-events: none; overflow: hidden;" src="" width="500" height="400" controls loop autoplay></video>-->
		<svg style="pointer-events: none; position:absolute; top:0px; left:0px; width:100%; height:100%;" width="100%" height="100%" preserveAspectRatio="none" viewBox = "0 0 {{ image.width }} {{ image.height }}" version = "1.1">
			<!--<path d="M0,0 0,1 1,1 1,0 0,0" fill="red">-->
			<!--<use class="full" href="#path{{ i+1 }}">-->
			<path class="piece" id="fill{{ i+1 }}" d="M{{ lines[i][0] }}{{ lines[i][1] }}{{ lines[i][2] }}{{ lines[i][3] }}" />
			<path class="left pieceBorder border{{ i+1 }}" id="left{{ i+1 }}" d="M{{ lines[i][0] }}" />
			{% if (i%ncols)%2 == ((i-(i%ncols))/ncols)%2 %}
			<path class="bottom pieceBorder border{{ i+1 }}" id="bottom{{ i+1 }}" d="M{{ lines[i][1] }}" />
			<path class="right pieceBorder border{{ i+1 }}" id="right{{ i+1 }}" d="M{{ lines[i][2] }}" />
			<path class="top pieceBorder border{{ i+1 }}" id="top{{ i+1 }}" d="M{{ lines[i][3] }}" />
			{% else %}
			<path class="top pieceBorder border{{ i+1 }}" id="top{{ i+1 }}" d="M{{ lines[i][1] }}" />
			<path class="right pieceBorder border{{ i+1 }}" id="right{{ i+1 }}" d="M{{ lines[i][2] }}" />
			<path class="bottom pieceBorder border{{ i+1 }}" id="bottom{{ i+1 }}" d="M{{ lines[i][3] }}" />
		
		
			{% endif %}
		
		</svg>
	</div>
	{% endfor %}
{% endblock %}



{% block moreCSS %}
:root {
	--block-width: 17px;
	--side-height: 33;
	--top-width: 27;
	--scale: 1;
}
.content-31 {
	display: none;
}
.content-33 {
	display: none;
}
.content-13 {
	display: none;
}
body {
	background: gray;
}
/*
img {
	position: absolute;
	left: 50px;
	top: 50px;
}*/
{% for i in range(0,npieces) %}
#video{{ i+1 }} {
	-webkit-clip-path:url(#clip{{ i+1 }});
	clip-path:url(#clip{{ i+1 }});
	position: absolute;
	left: 50px;
	top: 50px;
}
{% endfor %}


#playbutton {
	position: absolute;
	left: 0px;
	top: 0px;
}
#rotatebutton {
	position: absolute;
	left: 50px;
	top: 0px;
}
#pointsspan {
	position: absolute;
	left: 0px;
	top: 0px;
}
img {
	display: block;
	width: calc({{ image.width }} * 1px);
	height: auto;
	background: rgba(255,255,255,1);
}
img.size2 {
	width: calc({{ image.width }} / 2px);
}
img.size3 {
	width: calc({{ image.width }} / 3px);
}
img.size4 {
	width: calc({{ image.width }} / 4px);
}

#progressdiv {
	position: relative;
	left: 0px;
	top: 0px;
}
.pieceBorder{
	stroke:none;
	fill: none;
}
.interiorBorder{
	stroke:none;
	fill: none;
}
.piece {
	fill: none;
	stroke: none;
}
svg {
	position: absolute;
}
{{ initialCSS }}
{% endblock %}


{% block bodyStart %}
<svg width="0" height="0" viewBox = "0 0 1 1" version = "1.1">
    <defs>
    	
    	{% for i in range(0,npieces)  %}
    	  <clipPath id="clip{{ i+1 }}" clipPathUnits="objectBoundingBox">
			<path id="path{{ i+1 }}" d="M{{ plines[i][0] }}{{ plines[i][1] }}{{ plines[i][2] }}{{ plines[i][3] }}" />
		  </clipPath>
		{% endfor %}
    	
    	  
    </defs>
    
</svg>
{% endblock %}


{% block scripts %}
<script>

var dragid;
var isclick = true;
var startX;
var startY;
var cvideo;
var vmatches;
var nmatches;
var videos = {};
var score = {};
var myname;
var gifwidth = {{ image.width }};
var gifheight = {{ image.height }};
//var pieces = [{id:'piece1',rotation:0,location:[0,0],centers:[[0,0,'piece1']]}];
var pieces = {{ pieces | safe }};
var npieces= {{ npieces }};
var matches= {{ matchesHolder | safe}};
var saveButton = document.getElementById('save');
var cwidth = {{ image.width }};
var cheight = {{ image.height }};
var clines = {{ clines | safe }};
var ccenters= {{ ccenters }};
var pieceheight = cheight*{{ actheight }}/{{ image.height }}/{{ nrows }};
var piecewidth = pieceheight*{{ actwidth }}/{{ actheight }}*{{ nrows }}/{{ ncols }};
var ncols = {{ ncols }};
var nrows = {{ nrows }};
var merges = 0;

var w = window.innerWidthm|| document.documentElement.clientWidth || document.body.clientWidth;
var h = window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight;
console.log(w,gifwidth);
</script>
<script src="../js/puzzle.js"></script>

{{ collabHolder | safe }}
{% endblock %}

{% block title11 %}
<div class="title">
	<span class="titleLeft">
		
	</span>
	<span class="titleCenter">
		<a href="https://qblur.com">Info</a>
	</span>
	<span class="titleRight">
		<label for="radio33-1"><i class="fas fa-compress-alt"></i></label>
		<label for="radio33-2"><i class="fas fa-expand-alt"></i></label>
		<label for="radio33-3"><i class="fas fa-expand"></i></label>
	</span>
</div>
{% endblock %}

{% block content11 %}
<div id="scorediv"></div>
<progress id="progressdiv" class="progress" value="0" max="100"></progress>
<button id="save" href="">Save</button>
<button id="toggle" onclick="toggle()">Toggle</button>
{% endblock %}