{% extends "templates/base.html" %}

{% block borderRadius %}
	--border-radius: .6rem;
{% endblock %}

{% block content22CSS %}
	border: 1px solid black;
{% endblock %}
	
{% block centerSize %}
	--height-container: calc(100vh - 2rem);
	--width-container: calc(100vw - 2rem);
	--height-center: calc({{ image.height }}px * 7 / 6);
	--width-center: calc({{ image.width }}px * 7 / 6);
	margin: 1rem .5rem;
	
{% endblock %}

{% block titleCSS %}


{% endblock %}

{% block content22 %}
	{% for i in range(0,npieces)  %}
	<div id="video{{ i+1 }}">
		<img src="{{ image.name }}">
		<!--<iframe style="pointer-events: none; overflow: hidden;" src="" width="500" height="400"></iframe>-->
		<!--<video style="pointer-events: none; overflow: hidden;" src="" width="500" height="400" controls loop autoplay></video>-->
		<svg style="pointer-events: none; position:absolute; top:0px; left:0px; width:100%; height:100%;" width="100%" height="100%" preserveAspectRatio="none" viewBox = "0 0 {{ image.width }} {{ image.height }}" version = "1.1">
			<!--<path d="M0,0 0,1 1,1 1,0 0,0" fill="red">-->
			<!--<use class="full" href="#path{{ i+1 }}">-->
			<path class="piece" id="fill{{ i+1 }}" d="M{{ lines[i][0] }}{{ lines[i][1] }}{{ lines[i][2] }}{{ lines[i][3] }}" />
			<path class="left pieceBorder border{{ i+1 }}" id="left{{ i+1 }}" d="M{{ lines[i][0] }}" />
			{% if (i%ncols)%2 == ((i-(i%ncols))/ncols)%2 %}
			<path class="bottom pieceBorder border{{ i+1 }}" id="bottom{{ i+1 }}" d="M{{ lines[i][1] }}" />
			<path class="right pieceBorder border{{ i+1 }}" id="right{{ i+1 }}" d="M{{ lines[i][2] }}" />
			<path class="top pieceBorder border{{ i+1 }}" id="top{{ i+1 }}" d="M{{ lines[i][3] }}" />
			{% else %}
			<path class="top pieceBorder border{{ i+1 }}" id="top{{ i+1 }}" d="M{{ lines[i][1] }}" />
			<path class="right pieceBorder border{{ i+1 }}" id="right{{ i+1 }}" d="M{{ lines[i][2] }}" />
			<path class="bottom pieceBorder border{{ i+1 }}" id="bottom{{ i+1 }}" d="M{{ lines[i][3] }}" />
		
		
			{% endif %}
		
		</svg>
	</div>
	{% endfor %}
{% endblock %}



{% block moreCSS %}
:root {
	--block-width: 17px;
	--side-height: 33;
	--top-width: 27;
	--scale: 1;
}
.container {
	grid-template-columns: calc((var(--width-container) - var(--width-center)) / 2) calc(var(--width-center) / 2) calc(var(--width-center) / 2) calc((var(--width-container) - var(--width-center)) / 2);
  	grid-template-rows: calc((var(--height-container) - var(--height-center)) / 2) calc(var(--height-center) / 2) calc(var(--height-center) / 2) calc((var(--height-container) - var(--height-center)) / 2);
}

.content-22 {
	grid-row: 2 / 4;
	grid-column: 2 / 4;
}
.content-12, .content-21, .content-23, .content-32, .content-13, .content-31, .content-11, .content-33 {
	display: none;
}
.content-11, .content-12, .content-13, .content-00 {
	border: 0px solid black;
	border-radius: 0px;
	position: relative;
  	overflow: hidden;
  	background: white;
}
.content-21, .content-23 {
	border: 0px solid black;
	border-radius: 0px;
	position: relative;
  	overflow: hidden;
  	background: white;
}
.content-31, .content-32, .content-33 {
	border: 0px solid black;
	border-radius: 0px;
	position: relative;
  	overflow: hidden;
  	background: white;
}
.title {
	font-size: .8rem;
}
.title a {
	font-size: 1rem;
}

.content-13 {
	grid-row: 4;
	grid-column: 1 / 3;
}
.content-31 {
	grid-row: 4;
	grid-column: 3 / 5;
}



body {
	background: gray;
	overflow: hidden;
}

{% for i in range(0,npieces) %}
#video{{ i+1 }} {
	-webkit-clip-path:url(#clip{{ i+1 }});
	clip-path:url(#clip{{ i+1 }});
	position: absolute;
	left: 5px;
	top: 5px;
}
{% endfor %}


#playbutton {
	position: absolute;
	left: 0px;
	top: 0px;
}
#rotatebutton {
	position: absolute;
	left: 5px;
	top: 0px;
}
#pointsspan {
	position: absolute;
	left: 0px;
	top: 0px;
}
img {
	display: block;
	width: calc({{ image.width }} * 1px);
	height: auto;
	background: rgba(255,255,255,1);
}
.container.size2 {
	--height-center: calc({{ image.height }}px * 7 / 12);
	--width-center: calc({{ image.width }}px * 7 / 12);
}
.container.size3 {
	--height-center: calc({{ image.height }}px * 7 / 18);
	--width-center: calc({{ image.width }}px * 7 / 18);
}
.container.size4 {
	--height-center: calc({{ image.height }}px * 7 / 24);
	--width-center: calc({{ image.width }}px * 7/ 24);
}
.container.size5 {
	--height-center: calc({{ image.height }}px * 7 / 30);
	--width-center: calc({{ image.width }}px * 7/ 30);
}
.container.sizeh {
	--height-center: calc({{ image.height }}px * 7 / 3);
	--width-center: calc({{ image.width }}px * 7 / 3);
}
.size2 img {
	width: calc({{ image.width }}px / 2);
}
.size3 img {
	width: calc({{ image.width }}px / 3);
}
.size4 img {
	width: calc({{ image.width }}px / 4);
}
.size5 img {
	width: calc({{ image.width }}px / 5);
}
.sizeh img {
	width: calc({{ image.width }}px * 2);
}
.size2 {
	--scale: 2;
}
.size3 {
	--scale: 3;
}
.size4 {
	--scale: 4;
}
.size5 {
	--scale: 5;
}
.sizeh {
	--scale: .5;
}

#scorediv {
	overflow: auto;
}
#progressdiv {
	position: relative;
	left: 0px;
	top: 0px;
	width: 100%;
}
.pieceBorder{
	stroke:none;
	fill: none;
}
.interiorBorder{
	stroke:none;
	fill: none;
}
.piece {
	fill: none;
	stroke: none;
}
svg {
	position: absolute;
}
.container:Not(.landscape) .content-00 img {
	width: calc(100% - 3px);
}
.landscape .content-00 img {
	height: calc((var(--height-container) - var(--height-center)) / 2 - 1.2rem - 3px);
	width: unset;
}
.container:Not(.landscape) .content-00 {
	grid-row: 1 / 5;
	grid-column: 1;
}
.container.landscape .content-00 {
	grid-row: 1;
	grid-column: 1 / 5;
}
.container.landscape .content-00 div{
	display: inline-block;
}
.container.landscape .content-00 div.title{
	height: calc((var(--height-container) - var(--height-center)) / 2 - 3px);
	width: 2rem;
	overflow: hidden;
}
.content-00 {
	background: transparent;
}

.group {
	width: 100%;
	height: 3rem;
	font-size: 1.2rem;
	line-height: 3rem;
}

.group i.fa-eye {
	display: none;
}
.group.selected i.fa-eye {
	display: inline-block;
}
.group.selected i.fa-eye-slash {
	display: none;
}
.group.open {
	color: red;
	font-size: 1.3rem;
}
{{ initialCSS }}
{% endblock %}


{% block bodyStart %}
<svg width="0" height="0" viewBox = "0 0 1 1" version = "1.1">
    <defs>
    	
    	{% for i in range(0,npieces)  %}
    	  <clipPath id="clip{{ i+1 }}" clipPathUnits="objectBoundingBox">
			<path id="path{{ i+1 }}" d="M{{ plines[i][0] }}{{ plines[i][1] }}{{ plines[i][2] }}{{ plines[i][3] }}" />
		  </clipPath>
		{% endfor %}
    	
    	  
    </defs>
    
</svg>
{% endblock %}


{% block scripts %}
<script>

var dragid;
var isclick = true;
var startX;
var startY;
var cvideo;
var vmatches;
var nmatches;
var videos = {};
var score = {};
var myname;
var gifwidth = {{ image.width }};
var gifheight = {{ image.height }};
//var pieces = [{id:'piece1',rotation:0,location:[0,0],centers:[[0,0,'piece1']]}];
var pieces = {{ pieces | safe }};
var npieces= {{ npieces }};
var matches= {{ matchesHolder | safe}};
var saveButton = document.getElementById('save');
var cwidth = {{ image.width }};
var cheight = {{ image.height }};
var ncols = {{ ncols }};
var nrows = {{ nrows }};

var w = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;
var h = window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight;
console.log(w,gifwidth);
var i= 2;
if ( cwidth > w * .375 || cheight > h * .375 || (cwidth > w * .25 && cheight > h * .25) ){
	while (cwidth > w * .75 || cheight > h * .75 || (cwidth > w * .5 && cheight > h * .5) ){
		cwidth = gifwidth/i;
		cheight = gifheight/i;
		var el = document.querySelector('.container');
		
		el.classList.add('size'+i);
		if (i>2){
			el.classList.remove('size'+(i-1));
		}
	
	
	
	


		if (i==5){break;}
		i++;
	}
}
else {
	cwidth = gifwidth*2;
	cheight = gifheight*2;
	var el = document.querySelector('.container');
	
	el.classList.add('sizeh');
}

if (cwidth/w > cheight/h){
	//landscape mode for info box
	var ell = document.querySelector('.container');
	ell.classList.add("landscape");
}
else {
	//portrait mode for info box
}
	
var clines = {{ clines | safe }};
var ccenters= {{ ccenters }};
var pieceheight = cheight*{{ actheight }}/{{ image.height }}/{{ nrows }};
var piecewidth = pieceheight*{{ actwidth }}/{{ actheight }}*{{ nrows }}/{{ ncols }};
var merges = 0;

var username = "{{ usernameHolder }}";
var creator = "{{ creator }}";
if (creator == username){
	document.getElementById('edit').style.display = 'inline-block';
}
var clickOperation = 'rotate';
var currentGroups = ['group0','group1'];
var groupNames = ['Main', 'Group 1'];
var groupEls = document.querySelectorAll('.group');
for (var i=0;i<groupEls.length;i++){
	groupEls[i].addEventListener('click', selectGroup);
}
groupEls = document.querySelectorAll('.fa-eye');
for (var i=0;i<groupEls.length;i++){
	groupEls[i].addEventListener('click', selectEye);
}
groupEls = document.querySelectorAll('.fa-eye-slash');
for (var i=0;i<groupEls.length;i++){
	groupEls[i].addEventListener('click', selectEye);
}

function selectGroup(event) {
	var el = event.target;
	if (el.tagName == 'I'){return;}
	if (el.tagName != 'DIV'){
		el = el.parentElement;
	}
	var groupEls = document.querySelectorAll('.group');
	for (var i=0;i<groupEls.length;i++){
		if (groupEls[i] != el){
			groupEls[i].classList.remove('open');
		}
		else {
			if (groupEls[i].classList.contains('open')){
				groupEls[i].classList.remove('open');
				clickOperation = 'rotate';
			}
			else {
				el.classList.add('open');
				clickOperation = 'group'+i;
			}
		}
	}

	
}
function selectEye(event){
	var el = event.target.parentElement;
	var id = el.id;
	if (el.classList.contains('selected')){
		el.classList.remove('selected');
		for (var i=0;i<currentGroups.length;i++){
			if (currentGroups[i]==id){
				currentGroups.splice(i,1);
				break;
			}
		}
	}
	else {
		el.classList.add('selected');
		currentGroups.push(id);
	}
	console.log(currentGroups);
	updateGroups();
}

document.getElementById('newGroup').addEventListener('click',newGroup);
function newGroup(name) {
	
	var el = document.getElementById('groups');
	var groupEls = el.querySelectorAll('.group');
	var elid = parseInt(groupEls[groupEls.length-1].id.substring(5))+1;
	console.log(elid);
	var newEl = document.createElement('div');
	newEl.classList.add('group');
	newEl.id = 'group'+elid;
	var newI = document.createElement('i');
	newI.classList.add('fas');
	newI.classList.add('fa-eye');
	newI.addEventListener('click', selectEye);
	console.log(newI);
	newEl.appendChild(newI);
	
	newI = document.createElement('i');
	newI.classList.add('fas');
	newI.classList.add('fa-eye-slash');
	newI.addEventListener('click', selectEye);
	newEl.appendChild(newI);
	
	var newSpan = document.createElement('span');
	if (!name){
		name = document.getElementById('newGroupName').value;
	}
	if (name != ""){
		newSpan.textContent = name;
	}
	else {
		newSpan.textContent = 'Group '+elid;
	}
	groupNames.push(name);
	newEl.appendChild(newSpan);
	
	newEl.addEventListener('click', selectGroup);
	
	el.appendChild(newEl);
}
</script>
<script src="../js/puzzle.js"></script>

{{ collabHolder | safe }}
{% endblock %}


{% block content00 %}
<div class="title">

	<span class="titleLeft">
		
	</span>
	<span class="titleCenter">
		<a href="https://qblur.com">Menu</a>
	</span>
	<span class="titleRight">
		<label for="radio33-1"><i class="fas fa-compress-alt"></i></label>
		<label for="radio33-2"><i class="fas fa-expand-alt"></i></label>
		<label for="radio33-3"><i class="fas fa-expand"></i></label>
	</span>
</div>
<div style="background: white;">
	<button id="save" onclick="savePuzzle()" style="display: none;">Save</button>
	<button id="edit" onclick="window.location.href='https://gifsaw.com/edit?q={{ puzzleid }}';" style="display: none;">Edit</button>
	<button id="fork" onclick="window.location.href='https://gifsaw.com/fork?q={{ puzzleid }}';">Fork</button>
	<button id="toggle" onclick="toggle()">Toggle Borders</button>
	<div>
		<progress id="progressdiv" class="progress" value="0" max="100"></progress>
	</div>
	<div id="scorediv"></div>
</div>





<div class="title">

	<span class="titleLeft">
		
	</span>
	<span class="titleCenter">
		<a href="https://qblur.com">Preview</a>
	</span>
	<span class="titleRight">
		<label for="radio33-1"><i class="fas fa-compress-alt"></i></label>
		<label for="radio33-2"><i class="fas fa-expand-alt"></i></label>
		<label for="radio33-3"><i class="fas fa-expand"></i></label>
	</span>
</div>

<div>
	<img id="previewImage" src="{{ image.name }}">
</div>

<div class="title">

	<span class="titleLeft">
		
	</span>
	<span class="titleCenter">
		<a href="https://qblur.com">Groups</a>
	</span>
	<span class="titleRight">
		<label for="radio33-1"><i class="fas fa-compress-alt"></i></label>
		<label for="radio33-2"><i class="fas fa-expand-alt"></i></label>
		<label for="radio33-3"><i class="fas fa-expand"></i></label>
	</span>
</div>

<div style="background: white;">
	<div id="groups">
		<div class="group selected" id="group0"><i class="fas fa-eye"></i><i class="fas fa-eye-slash"></i>Main</div>
		<div class="group selected" id="group1"><i class="fas fa-eye"></i><i class="fas fa-eye-slash"></i>Group 1</div>
	</div>
	<div><i class="fas fa-plus"></i> New <input type="text" id="newGroupName"></input><button id="newGroup">Add</button></div>
</div>
{% endblock %}