{% extends "templates/base.html" %}

{% block borderRadius %}
	--border-radius: .8rem;
{% endblock %}

{% block content22CSS %}
	/*border: 1px solid black;*/
{% endblock %}
	
{% block centerSize %}
	--height-center: 150px;
	--width-center: 200px;
{% endblock %}

{% block titleCSS %}
.title {
	line-height: 1.6rem;
	text-align: center;
	font-size: 1.3rem;
	border: 2px solid black;
  	border-radius: var(--border-radius);
  	position: relative;
  	top:-2px;
  	left:-2px;
  	width: calc(100% + 0px);
  	background: red;
  	background-image: url("../img/farm.jpg");
  	color: white;
}
{% endblock %}


{% block moreCSS %}
.title a {
	text-decoration: none;
}
{% endblock %}


{% block title11 %}
<div class="title">
	<span class="titleLeft">
		
	</span>
	<span class="titleCenter">
		<a href="https://sudokufarm.com">Sudoku Farm</a>
	</span>
	<span class="titleRight">
		<label for="radio11-1"><i class="fas fa-compress-alt"></i></label>
		<label for="radio11-2"><i class="fas fa-expand-alt"></i></label>
		<label for="radio11-3"><i class="fas fa-expand"></i></label>
	</span>
</div>
{% endblock %}
{% block content11 %}

{% endblock %}	

{% block title13 %}
<div class="title">
	<span class="titleLeft">
		
	</span>
	<span class="titleCenter">
		<a href="https://gifsaw.com">How To Play</a>
	</span>
	<span class="titleRight">
		<label for="radio13-1"><i class="fas fa-compress-alt"></i></label>
		<label for="radio13-2"><i class="fas fa-expand-alt"></i></label>
		<label for="radio13-3"><i class="fas fa-expand"></i></label>
	</span>
</div>
{% endblock %}
{% block content13 %}
Learn the rules.
{% endblock %}	

{% block title31 %}
<div class="title">
	<span class="titleLeft">
		
	</span>
	<span class="titleCenter">
		<a href="https://qblur.com">Download</a>
	</span>
	<span class="titleRight">
		<label for="radio31-1"><i class="fas fa-compress-alt"></i></label>
		<label for="radio31-2"><i class="fas fa-expand-alt"></i></label>
		<label for="radio31-3"><i class="fas fa-expand"></i></label>
	</span>
</div>
{% endblock %}
{% block content31 %}
Download Sudoku Farm for iOS.
{% endblock %}

{% block title33 %}
<div class="title">
	<span class="titleLeft">
		
	</span>
	<span class="titleCenter">
		<a href="https://csshole.com">Level Creator</a>
	</span>
	<span class="titleRight">
		<label for="radio33-1"><i class="fas fa-compress-alt"></i></label>
		<label for="radio33-2"><i class="fas fa-expand-alt"></i></label>
		<label for="radio33-3"><i class="fas fa-expand"></i></label>
	</span>
</div>
{% endblock %}
{% block content33 %}
Create your own level.
{% endblock %}


{% block content22 %}
	Sudoku Farm
{% endblock %}






{% block bodyStart %}

{% endblock %}


{% block scripts %}

{% endblock %}

